{% extends "base.html" %}

{% block content %}
<form method="post">
    <div class="row">
        <div class="col-sm-12" style="background: #A5D6D9"><label class="col-sm-12 col-form-label">Парни, напишите дорогим девушкам свои чисто сердечные поздравления с 8 марта!</label></div
        <div class="col-sm-12">
            <textarea class="form-control eup-remember" name="idea_text" id="idea_text" rows="20"
                      placeholder="Введите ваше поздравление" required=""></textarea>
        </div>
    </div>
    <h6></h6>
    <input type="submit" class="btn btn-primary">
</form>
{% endblock %}